/*admin*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #00bfff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #00bfff;
    padding: 10px;
    text-align: center;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.header a:hover {
    color: #00bfff;
}

.header a:active {
    color: #0056b3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.film-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.film-card button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.film-card .edit-button {
    background-color: #007bff;
    color: #fff;
}

.film-card .edit-button:hover {
    background-color: #0056b3;
}

.film-card .delete-button {
    background-color: #dc3545;
    color: #fff;
    margin-left: 10px;
}

.film-card .delete-button:hover {
    background-color: #c82333;
}

.film-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.film-card h3 {
    margin-top: 10px;
    font-size: 18px;
}

.film-card p {
    margin: 5px 0;
}

.film-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

.film-card a:hover {
    color: #00bfff;
}

.search-bar {
    margin-top: 20px;
    text-align: center;
}

.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
