/*ed ad filme*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #00bfff;
    margin: 0;
    padding: 0;
}

.header {
background-color: #333;
color: #00bfff;
padding: 10px;
text-align: center;
}

.header a {
color: #fff;
text-decoration: none;
}

.header a:hover {
color: #00bfff;
}

.header a:active {
color: #00bfff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #00bfff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00bfff;
}